* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.listing {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

.images-menu {
    width: 50px;
    height: 40px;
    margin-top: -6px;
}

.order {
    list-style-type: none;
    font-weight: bold;

}

.order a {
    text-decoration: none;
    color: black;
}

.sections {
    width: 100%;
    display: flex;
    background: linear-gradient(to right, #fcfcb4, #faa9f8);
}

.part1 {
    width: 50%;
}

.part2 {
    width: 50%;
}

.part2 .images {
    width: 100%;
    height: 400px;
}

.images1 {
    width: 180px;
    height: 160px;
    margin-bottom: 10px;
}

.images2 {
    width: 180px;
    height: 160px;
}

.images3 {
    width: 180px;
    height: 330px;
}

.main {
    display: flex;
    width: 100%;
    padding: 100px 0px;
    background: linear-gradient(to right, #fcfcb4, #faa9f8);
}

.main_part {
    display: flex;
    width: 50%;
    gap: 20px;
    justify-content: center;

}

.main_sec2 {
    width: 50%
}

.main_sec1 {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #F96464;
    padding-top: 10px;
    width: 100%;

}

.part1 {
    width: 38%;
    margin: auto;
}

.part1 h3 {
    font-size: 36px;
    letter-spacing: 10px;
    margin-bottom: 40px;
    font-weight: 800;
}

.part1 p {
    font-size: 14px;

}

.part1 button {
    background-color: #F96464;
    color: white;
    font-size: 12px;
    width: 140px;
    height: 34px;
    border: none;
    margin-top: 30px;
    font-weight: 300;
}

.main_sec2 {
    background-color: #F96464;
    display: flex;
    flex-direction: column;

    width: 380px;
    height: 180px;
    justify-content: center;
    margin-top: 80px;

}

.main_sec2 h2 {
    letter-spacing: 6px;
    font-size: 36px;

    margin-left: 20px;
    font-weight: bold;
}

.main_sec2 p {
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 12px;
}

span {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 12px;
}

.notofication {
    width: 20px;
    margin-bottom: -4px;
}

@media(max-width:650px) {
    .sections {
        flex-direction: column;

    }

    .part1 {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .part2 {
        width: 90%;
        margin: auto;

    }

}


@media(max-width:800px) {
    .main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media(max-width:400px) {
    .main_part {
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
    }

    .main_sec2 {
        background-color: #F96464;
        display: flex;
        flex-direction: column;

        width: 280px;
        height: 180px;
        justify-content: center;
        margin-top: 80px;

    }

    .main_sec2 h2 {

        font-size: 26px;

        margin-left: 20px;
        font-weight: bold;
    }

    .main_sec2 p {
        margin-left: 20px;
        margin-bottom: 20px;
        font-size: 12px;
    }
}

@media(max-width:600px) {
    .listing {
        flex-direction: column;
        margin-top: 20px;
    }

    .order {
        margin-top: 20px;
    }
}

@media(max-width:300px) {
    .main_sec2 {
        width: 200px;
        height: 200px;

    }
    .main_sec2 h2 {
        font-size: 20px;
        letter-spacing: 4px;
    }
    .main_sec2 p {
        font-size: 12px;
    }
}